/.devcontainer export-ignore
/.dockerignore export-ignore
/.editorconfig export-ignore
/.github export-ignore
/.gitmodules export-ignore
/.vscode export-ignore
/compose.yaml export-ignore
/docker export-ignore
/Dockerfile export-ignore
/patches export-ignore
/pskel.sh export-ignore
/README_ja.md export-ignore
/third_party export-ignore
