name: CI
on:
  push:
    branches:
        - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  packages: write
  pull-requests: write
jobs:
  # native:
  #   uses: ./.github/workflows/ci_native.yaml
  emulated:
    uses: ./.github/workflows/ci_emulated.yaml
