name: CI
on:
  push:
    branches:
        - main
  pull_request:
  workflow_dispatch:
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref_name || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
  packages: write
  pull-requests: write
jobs:
  Prepare:
    uses: ./.github/workflows/ci_prepare.yaml
  Linux_Native:
    needs: Prepare
    uses: ./.github/workflows/ci_native_linux.yaml
    with:
      source-artifact-name: ${{ needs.Prepare.outputs.source-artifact-name }}
  Linux_Emulated:
    needs: Prepare
    uses: ./.github/workflows/ci_emulated_linux.yaml
    with:
      source-artifact-name: ${{ needs.Prepare.outputs.source-artifact-name }}
  macOS:
    needs: Prepare
    uses: ./.github/workflows/ci_macos.yaml
    with:
      source-artifact-name: ${{ needs.Prepare.outputs.source-artifact-name }}
  Windows:
    needs: Prepare
    uses: ./.github/workflows/ci_windows.yaml
    with:
      source-artifact-name: ${{ needs.Prepare.outputs.source-artifact-name }}
