name: CI
permissions:
  contents: write
on:
  push:
  pull_request:
jobs:
  Linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['8.3']
        type: ['cli', 'zts']
        distro: ['bookworm']
    steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Setup QEMU
          uses: docker/setup-qemu-action@v3
          with:
            platforms: "arm64,s390x"
        - name: Setup buildx
          uses: docker/setup-buildx-action@v3
        - name: Build container
          run: |
            docker compose build --pull --no-cache --build-arg PLATFORM="linux/amd64" --build-arg IMAGE="php" --build-arg TAG="${{ matrix.version }}-${{ matrix.type }}-${{ matrix.distro }}"
        - name: Test with gcov
          run: |
            docker compose run -v "$(pwd)/ext:/ext" --rm shell /bin/sh -c "pskel test gcov && gcovr --root /ext --exclude Zend/* --exclude third_party/* --xml coverage.xml"
        - name: Prepare badge branch
        #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'
          uses: action-badges/create-orphan-branch@ad8308a8dded1b6a359b067044b6d2b9bc81d810
          with:
            branch-name: automations/badges
        - name: Make coverage badge
        #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'
          uses: action-badges/cobertura-coverage-xml-badges@d538b75ae142f6dc1814baeffb9535d2d28054f9
          with:
            file-name: coverage-${{ matrix.version }}-${{ matrix.type }}-${{ matrix.distro }}.svg
            badge-branch: automations/badges
            github-token: '${{ secrets.GITHUB_TOKEN }}'
            coverage-file-name: coverage.xml
